/* INDEX.HTML STYLES */

#intro { text-align: center; }
#intro .content {
	display: inline-block;
	text-align: justify;
	text-justify: inter-word;
	margin: auto 10%;
	margin-bottom: 2%;
}

.content ol {
	counter-reset: item;
	list-style-type: none;
	padding-left: 0;
}
.content ol li {
	margin-bottom: 0.5em;
}
.content ol li.heading {
	font-weight: bold;
	text-align: left;
	list-style: none;
	counter-reset: none;
	margin-bottom: 0.5em;
}
.content ol li:not(.heading):before {
	counter-increment: item;
	content: counter(item) ". ";
	font-weight: bold;
}

#gate-motor-img {
	max-height: 50dvh;
	margin: auto 20px;
}
@media screen and (max-width: 990px) {
	#gate-motor-img {
		margin-top: 10px;
	}
}



/* ------------------------------------------------------------------------------- */

.display-on-mobile {
	display: none;
}

@media screen and (max-width: 759px) {
	#three-images-container #officer-img { display: none; }

	.display-on-mobile { display: block; }
}
@media screen and (max-width: 500px) {
	#detailed-history > article {
		display: block;

		aside { display: none; }

		ol {
			min-width: 80%;
			margin: 0 10%;
			padding: 0;
		}
	}
}

#detailed-history > article {
	display: flex;

	ol { max-width: 70%; }

	aside {
		max-height: 100%;
		max-width: 30%;
		margin-top: 2.5%;

		img {
			max-width: 80%;
			margin: 0 auto;
		}
	}
}
@media screen and (min-width: 925px) { #security-officers-rand-park-high { display: none; } }
@media screen and (min-width: 980px) { #security-officer-boundary-gate { display: none; } }
@media screen and (min-width: 1025px) { #security-guards { display: none; } }
@media screen and (min-width: 1130px) { #response-reaction { display: none; } }
@media screen and (min-width: 1232px) {
	#security-officers-rand-park-high,
	#security-officer-boundary-gate,
	#security-guards,
	#response-reaction {
		display: block !important;
	}

	#detailed-history aside { grid-template-columns: repeat(2, 1fr); /* Two columns layout */ }
}
@media screen and (min-width: 1830px) {
	#detailed-history aside { grid-template-columns: repeat(3, 1fr); /* Three columns layout */ }
}

/* ------------------------------------------------------------------------------- */


