
/* Default Styles for all pages */

::selection {
	background: #333333;
	color: #FAA61A;
}
::-moz-selection {
	background: #333333;
	color: #FAA61A;
}

body {
	background-color: #010101;
	padding: 0;
	margin: 0;
	color: #BBBBBB;
}

hr {
	margin: 15px 10px;
}

details {
	margin-bottom: 10px;
}
summary {
	border-radius: 5px;
	padding-left: 20px;
	max-width: calc(100% - 10px);
	margin: 0 10px;
	text-align: center;
	padding: 1% 0;
}

a {
	transition: all 0.3s ease 0s;
}
a:hover { color: #FAA61A; }

article {
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0 5%;
}
article p {
	background-color: #FAA61A;
	color: #131313;
	font-weight: bold;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.multi-elements-per-line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.multi-elements-per-line > * {
	margin: 5px;
}
.multi-elements-per-line > img {
	max-height: 162px;
}
@media screen and (min-width: 450px) {
	.multi-elements-per-line:after {
		margin: 0 5px;
	}
}

.hotlines-wrapper {
	background-color: #FAA61A;
	margin: 1.25% 0;
	border-radius: 16px;
	color: #010101;
	padding: 1% 0;
	min-width: 300px;
	max-width: 300px;
	width: 30%;

	hr { border-color: #010101; }
	h2 { margin: 0; }
	ul {
		margin: 0;
		padding-left: 10%;
		li {
			a { color: #010101; }
			a:hover {
				border-radius: 5px;
				color: #ECF0F1;
				background-color: rgba(0,0,0, 0.3);
			}
		}
	}
}

.small-logo {
	cursor: pointer;
	max-height: 12dvh;
	margin: 0;
}

.clickable {
	background-color: rgba(250, 166, 26, 0.5);
	border: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.clickable:hover, .clickable:active {
	background-color: rgba(250, 166, 26, 0.8);
	color: #131313;
}

svg {
	fill: #ecf0f1;
	transition: all 0.3s ease 0s;
	max-height: 38.4px;
	border-radius: 45px;
	max-width: fit-content;
}
svg:hover, svg:active { fill: #faa61a; }

.centered { padding: 0 10%; }

.single-column { display: grid; }

.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------------------------------------------------------------------------------- */

/* INDEX.HTML STYLES */

#intro { text-align: center; }
#intro .content {
	display: inline-block;
	text-align: justify;
	text-justify: inter-word;
	margin: auto 10%;
	margin-bottom: 2%;
}

.content ol {
	counter-reset: item;
	list-style-type: none;
	padding-left: 0;
}
.content ol li {
	margin-bottom: 0.5em;
}
.content ol li.heading {
	font-weight: bold;
	text-align: left;
	list-style: none;
	counter-reset: none;
	margin-bottom: 0.5em;
}
.content ol li:not(.heading):before {
	counter-increment: item;
	content: counter(item) ". ";
	font-weight: bold;
}

#gate-motor-img {
	max-height: 50dvh;
	margin: auto 20px;
}
@media screen and (max-width: 990px) {
	#gate-motor-img {
		margin-top: 10px;
	}
}



/* ------------------------------------------------------------------------------- */

/* ABOUT.HTML STYLES */

.display-on-mobile {
	display: none;
}

@media screen and (max-width: 759px) {
	#three-images-container #officer-img { display: none; }

	.display-on-mobile { display: block; }
}
@media screen and (max-width: 500px) {
	#detailed-history > article {
		display: block;

		aside { display: none; }

		ol {
			min-width: 80%;
			margin: 0 10%;
			padding: 0;
		}
	}
}

#detailed-history > article {
	display: flex;

	ol { max-width: 70%; }

	aside {
		max-height: 100%;
		max-width: 30%;
		margin-top: 2.5%;

		img {
			max-width: 80%;
			margin: 0 auto;
		}
	}
}
@media screen and (min-width: 925px) { #security-officers-rand-park-high { display: none; } }
@media screen and (min-width: 980px) { #security-officer-boundary-gate { display: none; } }
@media screen and (min-width: 1025px) { #security-guards { display: none; } }
@media screen and (min-width: 1130px) { #response-reaction { display: none; } }
@media screen and (min-width: 1232px) {
	#security-officers-rand-park-high,
	#security-officer-boundary-gate,
	#security-guards,
	#response-reaction {
		display: block !important;
	}

	#detailed-history aside { grid-template-columns: repeat(2, 1fr); /* Two columns layout */ }
}
@media screen and (min-width: 1830px) {
	#detailed-history aside { grid-template-columns: repeat(3, 1fr); /* Three columns layout */ }
}

/* ------------------------------------------------------------------------------- */


